{% extends "core/layout.html" %}
{% load static %}

{% block title %}Демонстрация{% endblock %}

{% block main_class %}w-100 flex-grow-1 p-0 m-0{% endblock %}
{% block main %}

<!-- <div class="row alert-container">
    <div class="col d-flex justify-content-center">
        <div class="alert alert-info d-inline-block" role="alert">
            Предпросмотр. Для перехода в полноэкранный режим нажмите клавишу F.
        </div>
    </div>
</div> -->

<div id="presentation-stage-shell">
    <div id="presentation-stage">
        <section id="speaker" class="{% if not current_speaker %}d-none{% endif %} text-light">
            <h1 id="speaker-topic" class="fw-semibold text-center {% if show_time_only %}d-none{% endif %}">{{ current_speaker.topic }}</h1>
            <p id="speaker-name" class="text-center {% if show_time_only %}d-none{% endif %}">{{ current_speaker.formatted_name }}</p>
            <p id="speaker-time" class="fw-bold text-center {% if not conference_is_running and not show_time_only%}d-none{% endif %}">{{ current_speaker.time_limit_formatted}}</p>
        </section>

        <img id="logo" class="img-fluid object-fit-contain {% if not current_speaker %}d-block{% else %}d-none{% endif %}" src="{% static 'core/img/logo.png' %}" alt="Logo" width="1647" height="384">
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/js/client.js' %}"></script>
<script type="module" src="{% static 'core/js/fullscreen.js' %}"></script>
{% endblock %}