{% extends "core/layout.html" %}
{% load static %}

{% block title %}Клиент{% endblock %}

{% block main %}

<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <section id="speaker" class="text-center">
        <h1 id="speaker-topic" class="display-1 fw-bold">{{ current_speaker.topic }}</h1>
        <p id="speaker-name" class="fs-1">{{ current_speaker.full_name }}</p>
        <p id="speaker-time" class="fs-2 ">{{ current_speaker.time_limit_formatted}}</p>
    </section>

    <div id="logo-wrapper"><img id="logo" class="img-fluid object-fit-contain" src="{% static 'core/img/logo.png' %}" alt="Logo"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/client.js' %}"></script>
<script type="module" src="{% static 'core/fullscreen.js' %}"></script>
{% endblock %}