{% extends "core/layout.html" %}
{% load static %}

{% block title %}Демонстрация{% endblock %}

{% block main %}

<!-- <div class="row alert-container">
    <div class="col d-flex justify-content-center">
        <div class="alert alert-info d-inline-block" role="alert">
            Предпросмотр. Для перехода в полноэкранный режим нажмите клавишу F.
        </div>
    </div>
</div> -->

<div class="d-flex justify-content-center align-items-center h-100">

    <section id="speaker" class="d-flex flex-column justify-content-center align-items-center gap-5 h-100 text-center text-light {% if current_speaker %}d-block{% else %}d-none{% endif %}">
        <h1 id="speaker-topic" class="fw-semibold ">&laquo;{{ current_speaker.topic }}&raquo;</h1>
        <p id="speaker-name" class="">{{ current_speaker.formatted_name }}</p>
        <p id="speaker-time" class="fw-bold">{{ current_speaker.time_limit_formatted}}</p>
    </section>

    <img id="logo" class="img-fluid object-fit-contain {% if not current_speaker %}d-block{% else %}d-none{% endif %}" src="{% static 'core/img/logo.png' %}" alt="Logo" width="1647" height="384">
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/client.js' %}"></script>
<script type="module" src="{% static 'core/fullscreen.js' %}"></script>
<audio id="beep-sound" src="{% static 'core/sounds/beep-1.mp3' %}" preload="auto"></audio>
{% endblock %}