{% extends "core/layout.html" %}
{% load static %}

{% block title %}Панель управления{% endblock %}

{% block main %}
<section class="row g-4">

    <div class="col-md-4">
        <form id="add-speaker-form" class="mb-4 p-3 border rounded bg-light-subtle">
            <fieldset>
                <legend class="fw-medium">Новый докладчик</legend>
                <input type="text" id="new-speaker-name" class="form-control mb-2" placeholder="ФИО" required>
                <input type="text" id="new-speaker-topic" class="form-control mb-2" placeholder="Тема" required>
                <input type="number" id="new-speaker-time" class="form-control mb-3" placeholder="Время (сек)" min="10" required>
            </fieldset>

            <button id="add-speaker-button" class="btn btn-primary w-100">Добавить</button>
        </form>

        <form id="time-control-form" class="mb-4 p-3 border rounded bg-light-subtle">
            <fieldset>
                <legend class="fw-medium">Дополнительное время</legend>
                <input type="number" id="extra-time-input" class="form-control mb-3" placeholder="Время (сек)" />
            </fieldset>

            <button id="add-time-button" class="btn btn-primary w-100">Добавить</button>
        </form>

        <button id="toggle-conference-button" class="btn btn-success w-100">Запустить таймер</button>
    </div>

    <div class=" col-md-8">
        <div id="speaker-list" class="list-group list-group-numbered">
            <button type="button" class="list-group-item list-group-item-action {% if not current_speaker %}active{% endif %} no-number" data-id="" data-name="" data-time-limit="0">
                Не выбран
            </button>

            {% for speaker in speakers %}
            <button type="button" class="speaker-item list-group-item list-group-item-action {% if speaker.id == current_speaker.id %}active{% endif %}" data-id="{{ speaker.id }}" data-name="{{ speaker.full_name }}" data-time-limit="{{ speaker.time_limit_seconds }}">
                <span class="speaker-name fw-semibold">{{ speaker.short_name }}</span>
                <span class="speaker-topic text-truncate">&laquo;{{ speaker.topic }}&raquo;</span>
                <span class="speaker-time badge text-bg-primary">{{ speaker.time_limit_formatted|default:"00:00" }}</span>

                <span class="icon-wrapper delete-speaker text-dark">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width=".2" viewBox="0 0 16 16"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </span>
            </button>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/dashboard.js' %}"></script>
{% endblock %}