{% extends "core/layout.html" %}
{% load static %}

{% block title %}Панель управления{% endblock %}

{% block main %}
<section class="row g-4">

    <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-3">
        <form id="add-speaker-form" class="mb-4 p-3 border rounded bg-light-subtle">
            <fieldset>
                <legend class="fw-medium">Новый докладчик</legend>

                <input type="text" id="new-speaker-name" class="form-control mb-2" placeholder="ФИО" required>
                <input type="text" id="new-speaker-topic" class="form-control mb-2" placeholder="Тема">
                <input type="text" id="new-speaker-time" class="form-control mb-3" placeholder="Время (ММ:СС)" required>
            </fieldset>

            <button id="add-speaker-button" class="btn btn-primary w-100">Добавить</button>
        </form>

        <form id="time-control-form" class="mb-4 p-3 border rounded bg-light-subtle">
            <fieldset>
                <legend class="fw-medium mb-0">Таймер</legend>

                <div class="row g-2 mb-2">
                    <div class="col-8">
                        <input type="text" id="extra-time-input" class="form-control h-100" placeholder="Время (+-ММ:СС)" />
                    </div>
                    <div class="col-4">
                        <button id="add-time-button" class="btn btn-primary w-100">
                            <svg class="d-block my-0 mx-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width=".8" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>
                    </div>
                </div>
            </fieldset>

            <button type="button" id="reset-time-button" class="btn btn-warning w-100 mb-2">Обнулить</button>
            <button type="button" id="toggle-conference-button" class="btn btn-success w-100 ">Запустить</button>
        </form>

        <form class="p-3 border rounded bg-light-subtle">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="toggle-only-timer" {% if conference and not conference.show_name and not conference.show_topic %}checked{% endif %}>
                <label class="form-check-label" for="toggle-only-timer">Скрыть имя и тему</label>
            </div>
        </form>
    </div>

    <div class=" col-md-6 col-lg-7 col-xl-8 col-xxl-9">
        <div id="speaker-list" class="list-group list-group-numbered">
            <button type="button" class="list-group-item list-group-item-action {% if not current_speaker %}active{% endif %} no-number fw-semibold" data-id="" data-name="" data-time-limit="0">
                Не выбран
            </button>

            {% for speaker in speakers %}
            <button type="button" class="d-flex justify-content-between align-items-start speaker-item list-group-item list-group-item-action {% if speaker.id == current_speaker.id %}active{% endif %}" data-id="{{ speaker.id }}" data-name="{{ speaker.full_name }}" data-time-limit="{{ speaker.time_limit_seconds }}">
                <div class="ms-2 me-auto">
                    <span class="speaker-name fw-semibold d-block">{{ speaker.short_name }}</span>
                    <span class="speaker-topic d-block text-wrap">{{ speaker.topic }}</span>
                </div>
                <span class="speaker-time badge {% if speaker.time_limit_seconds < 11 %}text-bg-danger{% else %}text-bg-primary{% endif %} align-self-center">{{ speaker.time_limit_formatted|default:"00:00" }}</span>

                <span class="icon-wrapper delete-speaker text-dark ms-4 align-self-center">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width=".2" viewBox="0 0 16 16"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </span>
            </button>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/js/dashboard.js' %}"></script>
<audio id="beep-sound" src="{% static 'core/sounds/beep-1.mp3' %}" preload="auto"></audio>
{% endblock %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aperiam!