{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Конференция{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>
    </head>
    <body class="bg-light">
        <header>
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img class="img-fluid" src="{% static 'core/img/logo.png' %}" alt="Logo" width="30" height="24">
                    </a>

                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" class="d-flex ms-auto">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Сменить пользователя</button>
                    </form>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main class="container">
            {% block main %}{% endblock %}
        </main>
        <footer>

        </footer>
        <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>