{% extends "core/layout.html" %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block main %}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p class="m-0">{{ error }}</з>
                {% endfor %}
        </div>
        {% endif %}

        <div class="logo-wrapper d-flex justify-content-center align-items-center overflow-hidden">
            <img class="mb-4 img-fluid object-fit-cover" src=" {% static 'core/img/logo.png' %}" alt="Logo" width="128" height="128">
        </div>
        <h1 class="text-center mb-3">Вход</h1>
        <form class="mt-3" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus class="form-control mb-2" type="text" name="username" placeholder="Имя пользователя">
            <input class="form-control mb-2" type="password" name="password" placeholder="Пароль">
            <input class="btn btn-primary w-100" type="submit" value="Войти">
        </form>
    </div>
</div>
{% endblock %}