{% extends "core/layout.html" %}
{% load static %}

{% block title %}Оператор{% endblock %}

{% block main %}
<h1>Управление конференцией</h1>
<section class="row mb-3">
    <div class="col-md-6">
        <h2>Докладчики</h2>

        <div id="speaker-list" class="list-group list-group-numbered">
            <button type="button" class="list-group-item list-group-item-action {% if not current_speaker %}active{% endif %} no-number" data-id="" data-name="" data-time-limit="0">
                Не выбран
            </button>

            {% for speaker in speakers %}
            <button type="button" class="list-group-item list-group-item-action {% if speaker.id == current_speaker.id %}active{% endif %}" data-id="{{ speaker.id }}" data-name="{{ speaker.full_name }}" data-time-limit="{{ speaker.time_limit_seconds }}">
                {{ speaker.full_name }} — {{ speaker.topic }} — {{ speaker.time_limit_formatted }}
                <span class="delete-speaker float-end text-danger" style="cursor:pointer;">&times;</span>
            </button>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6">
        <h2>Добавить докладчика</h2>

        <div id="add-speaker-form" class="mb-3">
            <input type="text" id="new-speaker-name" class="form-control" placeholder="ФИО" required>
            <input type="text" id="new-speaker-topic" class="form-control" placeholder="Тема" required>
            <input type="number" id="new-speaker-time" class="form-control" placeholder="Время (сек)" min="10" required>
            <button id="add-speaker-button" class="btn btn-primary">Добавить</button>
        </div>
    </div>

</section>

<section>
    <h2>Таймер</h2>
    <p>Время: <span id="timer">{{ current_speaker.time_limit_formatted|default:"00:00" }}</span></p>

    <button id="toggle-conference-button" class="btn btn-success">Запустить</button>
    <input type="number" id="extra-time-input" placeholder="Доп. время (сек)" />
    <button id="add-time-button" class="btn btn-primary">Добавить время</button>

</section>

<section>


</section>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/operator.js' %}"></script>
{% endblock %}