{% extends "core/layout.html" %}
{% load static %}

{% block title %}Оператор{% endblock %}

{% block main %}
<select id="speaker-select">
    <option value="">Не выбран</option>
    {% for speaker in speakers %}
    <option value="{{ speaker.id }}" data-name="{{ speaker.full_name }}" data-time-limit="{{ speaker.time_limit_seconds }}" {% if speaker.id == current_speaker.id %}selected{% endif %}>{{ speaker.full_name }} — {{ speaker.topic }}</option>
    {% endfor %}
</select>

<button id="delete-speaker-button">Удалить спикера</button>

<h3>Добавить спикера</h3>

<div id="add-speaker-form">
    <input type="text" id="new-speaker-name" placeholder="ФИО" required>
    <input type="text" id="new-speaker-topic" placeholder="Тема" required>
    <input type="number" id="new-speaker-time" placeholder="Время (сек)" min="10" required>
    <button id="add-speaker-button">Добавить</button>
</div>


<h3>Управление конференцией</h3>

<button id="toggle-conference-button">Запустить</button>
<input type="number" id="extra-time-input" placeholder="Доп. время (сек)" />
<button id="add-time-button">Добавить время</button>

<p>Выступает: <span id="current-speaker">{{ current_speaker.full_name|default:"—" }}</span></p>
<p>Время: <span id="timer">{{ current_speaker.time_limit_formatted|default:"00:00" }}</span></p>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'core/operator.js' %}"></script>
{% endblock %}