#client-screen {
    font-family: Arial, sans-serif;
    text-align: center;
}

#speaker > #speaker-name {
    font-size: 2em;
    margin-bottom: 20px;
}

#speaker > #speaker-time {
    font-size: 4em;
    font-weight: bold;
}


/* logotype */
#logo-container {
    margin-top: 50px;
    text-align: center;
}

/* #logo-container #logo {
    max-width: 300px;
    width: 50%;
} */

#logo-container > p {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    font-weight: 700;
    background: #ffffff;
    color: #000000;
    z-index: 9999;
    display: flex;
}

/* .container,
.container-fluid {
    background-color: blue;
} */

.list-group-numbered > .list-group-item.no-number::before {
    content: none;
}