html,
body {
    height: 100%;
}

/* logotype */
#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo-wrapper #logo {
    max-width: 90vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* .container,
.container-fluid {
    background-color: blue;
} */

.list-group-numbered > .list-group-item.no-number::before {
    content: none;
}