html,
body {
    height: 100%;
}

/* logotype */
#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo-wrapper #logo {
    max-width: 90vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}


.list-group-numbered > .list-group-item.no-number::before {
    content: none;
}


.icon-wrapper {
    padding: 4px;
    cursor: pointer;
}

.icon-wrapper svg {
    display: inline-block;
    height: 1lh;
    width: auto;
}