@font-face {
    font-family: 'Source Sans 3 Variable';
    src: url('../fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'Source Sans 3 Variable', sans-serif;
}


.list-group-numbered > .list-group-item.no-number::before {
    content: none;
}


.icon-wrapper {
    height: 24px;
    cursor: pointer;
}

.icon-wrapper svg {
    display: block;
    margin: 0 auto;
}


#speaker #speaker-topic {
    font-size: clamp(2rem, 8vw, 12vh);
    line-height: 1;
    max-width: 100%;
    text-wrap: balance;
}


#speaker #speaker-name {
    font-size: clamp(1.5rem, 5vw, 8vh);
    line-height: 1;
    text-wrap: balance;
}


#speaker #speaker-time {
    font-size: clamp(3rem, 12vw, 20vh);
    line-height: 1;
}

#speaker-topic.d-none ~ #speaker-name.d-none ~ #speaker-time,
#speaker-topic.d-none + #speaker-name.d-none + #speaker-time {
    font-size: clamp(5rem, 25vw, 35vh);
}

#speaker-topic.d-none ~ #speaker-name:not(.d-none) {
    font-size: clamp(2rem, 8vw, 12vh);
}

#speaker-topic.d-none ~ #speaker-time:not(.d-none) {
    font-size: clamp(4rem, 18vw, 28vh);
}

#speaker-name.d-none ~ #speaker-time:not(.d-none) {
    font-size: clamp(4rem, 18vw, 28vh);
}


.hide-cursor {
    cursor: none !important;
}


.bg-screen {
    background:
        radial-gradient(circle at center,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.7) 100%),
        url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}