@font-face {
    font-family: 'Source Sans 3 Variable';
    src: url('../fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'Source Sans 3 Variable', sans-serif;
}

/* logotype */

img #logo {
    max-width: 90vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}


.list-group-numbered > .list-group-item.no-number::before {
    content: none;
}


#speaker #speaker-topic {
    font-size: 96pt;
}

#speaker #speaker-name {
    font-size: 80pt;
}

#speaker #speaker-time {
    font-size: 156pt;
}


.icon-wrapper {
    height: 24px;
    cursor: pointer;
}

.icon-wrapper svg {
    display: block;
    margin: 0 auto;
}


.bg-screen {
    background:
        radial-gradient(circle at center,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.7) 100%),
        url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s step-start infinite;
}