@font-face {
    font-family: 'Source Sans 3 Variable';
    src: url('../fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'Source Sans 3 Variable', sans-serif;
}

/* logotype */
#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo-wrapper #logo {
    max-width: 90vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}


.list-group-numbered > .list-group-item.no-number::before {
    content: none;
}

.speaker-item {
    display: grid;
    grid-template-columns: 24px 2fr 3fr 80px 24px;
    /* номер, имя, тема, время, иконка */
    align-items: center;
    gap: 8px;
}

.speaker-topic {
    display: inline-block;
}

.speaker-time {
    justify-self: center;
}

.icon-wrapper {
    height: 24px;
    cursor: pointer;
}

.icon-wrapper svg {
    display: block;
    margin: 0 auto;
}